
a {
  text-decoration: none;
  color: black;
}

body {
  font-family:'Montserrat', 'Noto Sans KR', sans-serif;
  color: black;
  position: relative;
}
.inner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.zoom {
  overflow: hidden;
  position: relative;
}
.zoom img {
  transition: 1s;
}
.zoom:hover img{
  scale: 110%;
}
.zoom:hover::before {
  content: "";
  background-image: url('../img_socks_appeal/icon_202208311612457700.png');
  width: 30px;
  height: 30px;
  position: absolute;
  display: block;
  right: 0;
  left: 0;
  margin: auto;
  bottom: 0;
  transform: translateY(-15px);
  background-repeat: no-repeat;
  transition: translateY 1s;
  /* 질문5 스르륵 올라가야하는데 안올라감.. */
  /* hover 두가지는 안먹나요 . . .? */
}

header {
  transition: background-color 0.6s;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}
header:hover {
  background-color: #ffffffc0;
}


header .top-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 45px;
  
  height: 80px;
  max-width:80vw;
  margin: auto;
  
  position: relative;
}

header .logo-place {
  position: relative;
  width: 205px;
}

header .top-logo {
  width: 205px;
  position: absolute;
  z-index: 1;
  transition: 0.7s;
  left: 0px;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /* display: none; */
}

/* header .top-logo:hover {
  opacity: 0;
} */

header .top-logo-gray {
  width: 205px;
  position: absolute;
  left: 0px;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: 0.7s;
  /* z-index: 1; */
}

header .top-menu {
  display: flex;
}
header .top-menu>li>a {
  line-height: 80px;
}

header .top-menu>li {
  padding: 0px 15px;
  height: 80px;
}

header .top-menu>li a {
  color: black;
  font-weight: 500;
}
header .top-menu .menu-view{
  position: absolute;
  width: 180px;
  font-size: 14px;
  background-color: #ffffffc0;
  padding: 10px 0;
  top:80px;
  
  display: none;
}
header .top-menu li:hover>.menu-view {
  display: block;
}


header .top-menu .menu-view>li{
  display: flex;
  padding: 10px 20px;
  box-sizing: border-box;
}
header .top-menu .menu-view>li>a{
  transition: 0.6s;
}
header .top-menu .menu-view>li>a:hover{
  padding-left: 7px;
}

header .top-user>ul {
  display: flex;
}
header .top-user>ul>li {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .top-user ul li {
  position: relative;
}
header .top-user span {
  width: 50px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}
header .top-user .top-user--contents {
  display: none;
}
header .top-user .top-user--contents ul {
  position: absolute;
  width: 180px;
  font-size: 14px;
  background-color: #ffffffc0;
  padding: 10px 0;
  top:80px;
  left: 0;
}

header .top-user .top-user--contents ul li{
  padding: 10px 20px;
  box-sizing: border-box;
}
header .top-user .top-user--contents ul li a:hover{
  padding-left: 7px;
}
header .top-user .top-user--contents ul li img {
  width: 30px;
  border-radius: 0.3em;
}
header .top-user .top-user--contents ul li a {
  transition: 0.6s;
  font-family:'Montserrat', 'Noto Sans KR', sans-serif; 
}
header .top-user .top-user--contents ul li a + a {
  margin-left: 10px;
}
header .top-user .top-user--contents #top-user-line{
  width: 100%;
  height: 1px;
  background-color: rgba(10, 10, 10, 0.15);
}

/* header .top-user {
  position: relative;
} */


/* SLIDER */
.slider-container {
width: 100%;
height: 80%;
overflow: hidden;
position: relative;
/* 이건 왜 적용 된걸까유,, */
z-index: -99; 
}
.slider-container .swiper-slide>img {
  width: 100%;
}
.slider-container .swiper-slide .text_group {
  color: white;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;

  position: absolute;
  z-index: 10;
  left: 20%;
  top: 400px;
  margin: auto;
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
  /* 질문3 얘 왜 자꾸 아래로 꺼질까요,, */
  /* 왜인지 모르겠는데 해결됨 ,,, 아마 slider 포지션을 fixed가 아니라 absolute로 바꿔서 그런것같음 */

}

.slider-container .swiper-slide .text_group h2 {
  /* font-weight: 600; */
  font-size: 3em;
  padding-bottom: 30px;
}
.slider-container .swiper-slide .text_group h4 {
  font-weight: 700;
  font-size: 1.3em;
  padding-bottom: 20px;
}
.slider-container .swiper-slide .text_group h6 {
  font-weight: 300;
  font-size: 0.7em;
}

/* 
.slider-container .slider-ul {
  position: relative;
}

.slider-container .slider-ul li {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.slider-container .slider-ul img {
  width: 100%;
} */

/* SEARCH */
.search_container {
  width: 100%;
  height: 0;
  background-color: #ffffffc0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;
  visibility: hidden;
  position: fixed;
  overflow: hidden;
  top:80px
}
.search_container .search_main {
  width: 80%;
  max-width: 740px;
  height: 33px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  transition: visibility 0.5s;
  /* 질문2 height 업다운시 내용물이 빨리 사라졌으면 좋겠는데 적용이 안되요 ,,, */

}
.search_container .search_main>input{
  flex:1;
  height: 33px;
  border-radius: 10px;
  border: transparent;
  background-color: transparent;
}
.search_container .search_main>span{
  font-size: 33px;
  text-align: center;
  box-sizing: border-box;
  padding: 3px;
  color: #888;
  cursor: pointer;
}
.search_container .recommendation {
  width: 600px;
  margin-top: 60px;
}
.search_container .recommendation a {
  margin: 0 15px;
  color: #333;
}

/* 01. RECOMMANDETION */
.main-1--recommandetion { 
  margin-top: 80px;
  width: 100%;
  /* background-color: pink; */
  position: relative;

  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* 질문 4 display:flex는 position 속성이 어떻게되나요? */
}
.main-1--recommandetion .recommandetion-button {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  right: 0;
  left: 0;
  margin: auto;
}
.main-1--recommandetion .recommandetion-button>a {
  padding: 10px 15px;
  border: 1px solid #888;
  border-radius: 2em;
  color: #888;
  transition: 0.5s;
}
.main-1--recommandetion .recommandetion-button>a:hover {
  color: black;
  border-color: black;
}

.main-1--recommandetion .recommandetion-generation {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
/* .main-1--recommandetion .recommandetion-generation .zoom {
  background-color: rgba(10, 10, 10, 0.15);
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
} */
.main-1--recommandetion .recommandetion-generation p {
  font-weight: 600;
  color: white;
  position: absolute;
  top:50%;
  right: 50%;
  transform: translateX(50%) translateY(-50%);
  font-size: 1.5em;
}
.main-1--recommandetion .recommandetion-generation a {
  box-sizing: border-box;
}
.main-1--recommandetion .recommandetion-generation .men-kids-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 02.EVENT */
.main-2--event {
  width: 100%;
  margin-top: 100px;
}
.main-2--event .event-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 25px;
}
.main-2--event .event-div a {
  box-sizing: border-box;
}
.main-2--event .event-div img {
  width: 580px;
}

/* 03.WEEKLY BEST */
.title {
  text-align: center;
  line-height: 250px;
  width: 100%;
  height: 200px;
}
.title h2 {
  font-size: 26px;
}
.main-3--weekly .weekly-group {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 500px;
}
.main-3--weekly .weekly-group .weekly-each .zoom {
  width: 390px;
  height: 390px;
}
.main-3--weekly .weekly-group .weekly-each img {
  width: 100%;
}

/* 각 상품 내 text-group */
.text_group {
  text-align: center;
}
.wb-title {
  font-weight: 500;
  font-size: 16px;
  padding: 20px;
  word-break: keep-all;
}
.wb-price {
  font-weight: 700;
  font-size: 17px;
}
.price-sale {
  color: #888;
}

/* 04. NEW ARRIVAL */
.main-4--new-arrival {}

.main-4--new-arrival .new-arrival-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-4--new-arrival .new-arrival-group .new-arrival-each {
  margin-bottom: 60px;
}
.main-4--new-arrival .new-arrival-group .new-arrival-each .zoom {
  width: 290px;
  height: 290px;

}
.main-4--new-arrival .new-arrival-group .new-arrival-each .zoom img {
  width: 100%;
}
.main-4--new-arrival .new-arrival-group .new-arrival-each .text_group {
  width: 280px; 
}


/* 05.RECOMMENDATION */

/* 06.FEATURED */
.main-6--featured .title {
  position: relative;
}
.main-6--featured .underline{
  width: 150px;
  height: 1px;
  background-color: #333;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  top:140px;
}
/* 질문4 text-decoration:underline 으로 했을때 너무 text 아래 딱 달라붙어서 그냥 div -> position:absolute로 처리...
이거 더 쉽게 하는 방법 있을까요? 힝 */
.main-6--featured .featured-button {
  display: flex;
  justify-content: center;
  column-gap: 25px;
}
.main-6--featured .featured-button a {
  display: block;
  width: 140px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  /* border: 1px solid #333; */
  border-radius: 2em;
  position: relative;
}
.main-6--featured .featured-button a:hover {
  background-color: #333;
  color: #fff;
}
.main-6--featured .featured-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-6--featured .featured-group .featured-each {
  margin-top: 60px;
}
.main-6--featured .featured-group .featured-each .zoom {
  width: 230px;
}
.main-6--featured .featured-group .featured-each .zoom img{
  width: 100%;
}
.main-6--featured .featured-each .text-group {
  width:230px;
  word-break: keep-all;
  text-align: center;
}
/* 07.CUSTOMER REIVEW */
.main-7--review {
  position: relative;
}

.main-7--review .review-group {
  width: 100%;
  overflow: hidden;
  display: flex;
  column-gap: 30px;
  position: relative;
}
.main-7--review .review-group .review-each {
  position: relative;
  width: 280px;
  height: 450px;
}
.main-7--review .review-group .review-each:last-child:after {
  display: none;
}
.main-7--review .review-group .review-each::after {
  width: 1px;
  height: 100%;
  background-color: #88888818;
  /* border: 1px solid red; */
  content: "";
  position: absolute;
  right: -15px;
  top: 0;
  bottom:0;
  margin: auto;
}
.main-7--review .review-group .review-each .rv-title {
  position: absolute;
  bottom: 130px;
}
.main-7--review .review-group .review-each .rv-description {
  position: absolute;
  bottom: 100px;
}
.main-7--review .review-group .review-each .rv-date {
  position: absolute;
  bottom: 30px;
}

.main-7--review .review-group .review-each .zoom {
  width: 280px;
  height: 280px;
}
.main-7--review .review-group .review-each .zoom img {
  width: 100%;
}
.main-7--review .buttom_left span,.main-7--review .buttom_right span{
  font-size: 42px;
  background-color: RED;
}
.main-7--review .buttom_left { position: absolute; left: -50px; }
.main-7--review .buttom_right {  position: absolute; right: -50px; }
/* 월요일 이어서 */

/* KAKAO */
.kakao {
  width: 100%;
  height: 350px;
}
.kakao .kakao_bg{
  background-image: url('../img_socks_appeal/kakao.jpg');
  width: 100%;
  height: 145px;
  background-color: pink;
  position: relative;
}

.kakao .kakao_bg h2 {
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  top:25%;
  left:15%;
}
.kakao .kakao_bg p {
  font-size: 16px;
  font-weight: 100;
  color: #555;
  position: absolute;
  top: 60%;
  left: 15%;
}



/* FOOTER */
footer {
  color:#555;
  width: 100%;;
  height: 218px;
}

footer p {
  font-size: 14px;
}
footer h4{
  color: #fff;
  font-size: 14px;
  padding: 10px 0 5px;
}
footer h2{
  color: #fff;
  font-size: 25px;
}
footer .footer-bg {
  width: 100%;
  height: 218px;
  padding: 60px 0;
  background-color: black;
  display: block;
  position: absolute;
  bottom: 0;
}
footer .inner{
  display: flex;
  justify-content: space-between; 
}

footer .footer-first a{
  color: #fff;
  text-decoration: underline;
  font-size: 14px;
}
footer .footer-first .footer-head{
  display: flex;
  align-items: center;
}
footer .footer-first .footer-head a{
  text-decoration: none;
  margin-left: 10px;
}
footer .footer-first .footer-head img{
  width: 130px;
}
footer .footer-first .footer-head a{
  font-size: 18px;
  font-weight: 300;
}
footer .footer-first .footer-body {
  padding: 40px 0;
  line-height: 1.5;
}
footer .footer-second h2, footer .footer-second p{
  padding: 5px 0;
}

footer .footer-third h4 a{ 
  color: #fff;
}
footer .footer-third .footer-third-logo{
  margin-top: 30px;
}

/* BADGE */
.badge {
  width: 45px;
  height: 90px;
  position: fixed;
  bottom: 50px;
  right: 30px;
  border-radius: 40%;
  box-shadow: 2px 2px 5px #8888884f;

  text-align: center;
  line-height: 65px;
  
  cursor: pointer;

  /* 질문 6 얘 그림자 이상하게 생겨요 ,,, */
}
.badge .up-to {
  width: 100%;
  height: 50%;
  background-color: black;
  border-radius: 50% 50% 0 0;
  transition: opacity 1s;
}
.badge .down-to {
  width: 100%;
  height: 50%;
  background-color: black;
  border-radius: 0 0 50% 50%;
  transition: opacity 1s ease;
}
.badge .up-to:hover,.badge .down-to:hover {
  opacity: 0.3;
}

.badge span {
  font-size: 40px;
  color: #fff;
  font-weight: 100;
}
.badge .up-to span {
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
}

.badge span::before {
  content: "";
  width: 30px;
  height: 1;
  background-color: red;
  position: absolute;
}
