a {
  text-decoration: none;
  color: black;
}

body {
  font-family:'Montserrat', 'Noto Sans KR', sans-serif;
  color: black;
}

header {
  transition: background-color 0.6s;
}
header:hover {
  background-color: #ffffffc0;
}


header .top-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
  height: 80px;
  max-width:80vw;
  margin: auto;
  
  position: relative;
}

header .logo-place {
  position: relative;
}
header .top-logo {
  width: 205px;
  position: relative;
  z-index: 1;
  transition: 0.5s;
}

header .top-logo:hover {
  opacity: 0;
}

header .top-logo-gray {
  width: 205px;
  position: absolute;
  left: -0px;
  /* z-index: 1; */
}

header .top-menu {
  display: flex;
}
header .top-menu>il {
  padding: 0px 25px;
  display: block;
}

header .top-menu>il>a {
  color: black;
  font-weight: 500;
}
header .top-menu .menu-view{
  position: absolute;
  width: 180px;
  font-size: 14px;
  background-color: #ffffffc0;
  padding: 10px 0;
  top:80px;
  
  display: none;
}

header .top-menu .menu-view>il{
  display: flex;
  padding: 10px 20px;
  box-sizing: border-box;

}
header .top-menu .menu-view>il>a{
  transition: 0.6s;
}
header .top-menu .menu-view>il>a:hover{
  padding-left: 7px;
}
header .top-user>span {
  width: 50px;
  font-size: 30px;
  text-align: center;
}

.main-contents {
/* position: relative; */
width: 100%;
height: 600px;
overflow: hidden;

position: absolute; /* 이건 왜 적용 된걸까유,,*/
top:0px;
z-index: -1;
}

.main-contents .slider-ul {
  position: relative;;
}

.main-contents .slider-ul il {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.main-contents .slider-ul img{
  width: 100%;
}

#test {
  width: 100px;
  height: 100px;
  background-color: pink;
  bottom: 0;
}